@import url('/style/home.css');
@import url('/style/universe.css');
@import url('./style/explore.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 4rem 0 0 7.2rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

nav a {
  text-decoration: none;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.2rem;
  color: #C4C4CC;
}

nav a:active {
  font-weight: 700;
  color: #FFFFFF;
}



/* PAGE HOME */

.home__bg #app {
  width: calc(100% - 7.2rem);
  height: calc(100% - 4rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__bg { 
  background: url(./img/bg-home.png) no-repeat bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #E1E1E6;
}

/* PAGE UNIVERSE */

.universe__bg {
  background: url(./img/bg-universe.png) no-repeat bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #E1E1E6;
}

.universe__bg #app {
  width: calc(100% - 7.2rem);
  height: calc(100% - 4rem);
  justify-content: flex-start;
  align-items: flex-start;
}

/* PAGE EXPLORE */

.explore__bg {
  background: url(./img/bg-explore.png) no-repeat bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: #E1E1E6;
}

.explore__bg #app {
  width: calc(100% - 7.2rem);
  height: calc(100% - 4rem);
  justify-content: flex-start;
  align-items: flex-start;
}