.home__bg #app .home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

.home__bg #app h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 125%;
  color: #E1E1E6;
}

.home__bg #app a {
  text-decoration: none;
  padding: 1.2rem 3.2rem;
  border: 2px solid #FFFFFF;
  border-radius: .5rem;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 2.4;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  transition: 0.3s;
  cursor: pointer;
}

.home__bg #app a:hover {
  background-color: hsla(0, 0%, 100%, 1);
  color: hsla(194, 97%, 31%, 1);
}
