.universe__bg #app .universe__container {
  margin-top: 10.3rem;
  display: flex;
  flex-direction: column;
  grid-area: 1.6rem;
  width: 64.8rem;
}

.universe__bg #app h1 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 125%;
}

.universe__bg #app p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 160%;
}